.parent {
  width: 800px;
  background-color: orange;
  padding: 10px;
}
.child {
  width: 100%;
  background-color: skyblue;
  padding: 10px;
}
.grand1 {
  width: 100%;
  background-color: lightpink;
  padding: 10px;
}
.grand2 {
  width: 100%;
  background-color: lightgreen;
  padding: 10px;
}
